*{
    margin: 0px;
    padding: 0px;
    font-family:century;
}
header{
background-image: linear-gradient(rgba(212, 208, 208, 0.5),rgba(212, 208, 208, 0.5),rgba(212, 208, 208, 0.5)),url("background.jpg");
height: 100vh;
background-size: cover;
background-position: center;
min-height: 100px;
}